
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{ 
    var showAboutMenu = !SignInManager.IsSignedIn(User)
        || (ViewContext.RouteData.Values["controller"].ToString() == "Home"
            && ViewContext.RouteData.Values["action"].ToString() == "Index");
}

<ul class="nav-main">
    <li class="nav-item">
        <a class="nav-link" asp-area="Games" asp-controller="Games">Games</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-link" asp-area="Games" asp-controller="Games" asp-action="MineSweeper">Minesweeper</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Games" asp-controller="Games" asp-action="MineSweeper" asp-route-id="P5">P5.js</a>
                    </li>
                </ul>
            </li>
            @*
                <li class="nav-item">
                    <a class="nav-link" asp-area="Games" asp-controller="Games" asp-action="Index">Test Item</a>
                    <ul class="nav-menu">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Games" asp-controller="Games" asp-action="Index">Test Item</a>
                        </li>
                    </ul>
                </li>
            *@
        </ul>
    </li>

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="ResumeBuilder" asp-controller="Resumes" asp-action="Index">Resum&eacute;</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" asp-area="ResumeBuilder" asp-controller="Resumes" asp-action="Edit">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="ResumeBuilder" asp-controller="Resumes" asp-action="View">View</a>
                </li>
            </ul>
        </li>
    }
    @if (showAboutMenu)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">About</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="gameDesign">Game Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="webDev">Web Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="software">Home Software</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="worldBuilding">World Building</a>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Social Media</p>
                    <ul class="nav-menu">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="twitch">Twitch Channel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="youtube">Youtube Channel</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="patreon">Support Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="ResumeBuilder" asp-controller="Resumes" asp-action="Index">Meet the Team</a>
                </li>
            </ul>
        </li>
    }
</ul>