@import '../_colours';
@import '../_typography';

main {
    grid-template: 
        "banner" minmax(0px, auto) 
        "copyBox" minmax(100px, auto) 
        "form" minmax(0px, auto) 
        / minmax(0px, auto);
}

.response {
    grid-area: form;
}

#ContactPageForm {
    grid-area: form;
    color: $HighlightTextColour;
    width: 100%;
    max-width: 450px;
    justify-self: center;
    box-sizing: border-box;
    padding: 0 2em;

    label {
        display: block;
        margin: 2em 0 .5em;
    }

    input, textarea, select {
        display: block;
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        font-size: 1rem;
        font-family: $StandardFont;
        font-weight: 300;
    }

    .btn {
        display: block;
        margin: 1em auto;
        font-size: 1.2rem;
    }
}

.copyBox {
    grid-area: copyBox;
    width: 90%;
    align-self: center;
    justify-self: center;
    background: white;
    min-height: 400px;
    padding: 1.5em;
    -webkit-box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.44);
    box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.44);
    box-sizing: border-box;


    .copyBox_card {
        display: none;
        height: 100%;
        width: 100%;
        grid-template-rows: auto 1fr;
        font-size: 1.25rem;

        &.active {
            display: grid;
        }

        h1 {
            margin-bottom: .5em;
            text-align: center;
            text-transform: capitalize;
            text-decoration: underline;
            color: $PrimaryBackground;
        }

        p {
            text-align: justify;
            color: $SecondaryBackground;
        }
    }
}

.error {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 1em 2em;
    border: solid 2px $FailureBorderClour;
    background: $FailureBGColour;
    color: $FailureTextColour;
    
    &.validation-summary-errors {
        display: block;
    }

    ul {
        list-style: inside;
    }
}

.response {
    font-size: 1.6em;
    justify-self: end;
    color: $HighlightTextColour;
    max-width: 400px;
    width: 100%;
    align-self: center;
    text-align: center;
}

@media (min-width: 800px) {
    main {
        grid-template: "banner banner" minmax(0px, auto) "form copyBox" 1fr / 50% 50%;
    }
}

@media (min-width: 1100px) {
    #ContactPageForm, .response {
        margin-right: calc(5vw - 50px);
        justify-self: right;
    }
}
