@import '../_colours';
@import '../_typography';

main {
    grid-auto-rows: 0px minmax(38vh, auto);
    padding-top: 0;
    padding-bottom: 0;
}

section {
    display: grid;

    &:nth-of-type(3n-2) {
        //grid-template: "accent title" auto "text text" 1fr "tag tag" auto / minmax(0, 1fr) 4fr;
        background-color: $TertiaryBackground;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
    }

    &:nth-of-type(3n-1) {
        background-color: $SecondaryBackground;
        grid-template: none;
        grid-template-columns: minmax(0, 1fr);

        & > * {
            grid-area: unset;
        }

        .section_title {
            justify-self: center;
            margin: unset;
            text-align: center;
        }
    }

    &:nth-of-type(3n) {
        background-color: $PrimaryBackground;
        grid-template: none;
        grid-template-columns: minmax(0, 1fr);

        .section_title {
            justify-self: center;
            margin: unset;
            text-align: center;
            padding: 0 0.25em;
        }
    }

    p {
        color: $MainTextColour;
    }

    a {
        color: $LinkColour;
    }
}

a.anchor {
    display: initial;
    top: -125px;
    height: 0px;
}

.section_accent {
    grid-area: accent;
    height: 50px;
    width: 50px;
    background-position: 85% 33%;
    background-repeat: no-repeat;
    background-size: auto 73%;
    justify-self: end;
    align-self: center;
}

.section_title {
    grid-area: title;
    justify-self: start;
    margin-left: 0.5em;
    font-size: 2em;
    font-family: $TitleFont;
    color: $HighlightTextColour;
}

.section_text {
    grid-area: text;
    padding: 0 5%;
    color: $MainTextColour;
}

.section_tag {
    grid-area: tag;
    background-color: $HighlightBackground;
    color: $HighlightTextColour;
    padding: 1vh 2vw;
    margin: 1em auto 0;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 85%;
    border-radius: 12px;
    text-align: center;
}

.library-logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .break {
        flex-basis: 100%;
        height: 0;
    }

    li:first-child .library-logo {
        margin-left: 0;
    }
}

.library-logo {
    height: 65px;
    margin-left: 1vw;
    margin-top: 2vh;

    &.scaled {
        transform: scale(0.9);
    }
}

.notice {
    width: 100vw;
    height: auto;
    position: relative;
    left: -3vw;
    margin-top: -3vh;
    margin-bottom: 15px;
    text-align: center;
    border-top: 5px solid;
    border-bottom: 5px solid;
    font-size: 1rem;
    z-index: 5;

    &.warning {
        @include AlertProto($WarningBGColour, $WarningTextColour, $WarningBorderColour);
        text-transform: capitalize;
    }

    &.construction {
        border: none;
        background-color: $ConstructionYellow;
        height: calc(2em + 8px);

        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0px;
            height: 2em;
            width: 100%;
            background-color: $ConstructionYellow;
            background-image: linear-gradient(135deg, $ConstructionYellow 25%, $ConstructionBlack 25%, $ConstructionBlack 50%, $ConstructionYellow 50%, $ConstructionYellow 75%, $ConstructionBlack 75%, $ConstructionBlack 100%);
            background-size: 33.94px 33.94px;
            border-top: 2px solid $ConstructionBlack;
            border-bottom: 2px solid $ConstructionBlack;
        }

        &::after {
            content: 'Under Construction';
            background: #0f0f0f;
            color: #f5eb5f;
            margin: auto;
            padding: .5em;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
    }

    &.hiatus {
        min-height: 40px;

        &::after {
            content: 'This Service is Currently on a Hiatus. \A Check Back Later for More of This Great Content!';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.9em;
            white-space: pre;
            line-height: 1.6em;
            text-transform: capitalize;
        }
    }

    &.covid {
        @include AlertProto($ERBGColour, $ERTextColour, $ERBorderColour);
        position: absolute;
        top: 63%;
        left: 0;
        transform: translateY(-50%);

        p {
            text-align: center;
            margin-left: 15%;
            margin-right: 15%;
            color: inherit;
        }

        .links {
            display: grid;
            justify-content: center;
            margin-bottom: 1em;
            grid-gap: 0.5em;
            padding: 0 3vw;

            .btn {
                background: #fff;
                padding: .5em 1em;
                margin-top: 0;
                height: 100%;
                box-sizing: border-box;
                border: 1px solid transparent;

                &::before {
                    content: none;
                }

                &:hover {
                    background-color: #fff;
                    border: 1px solid $ERTextColour;
                }
            }
        }

        a {
            color: $ERTextColour;
            font-size: 0.8em;

            &:active, &:visited {
                color: $ERBorderColour;
            }
        }
    }
}

.twitch_games {
    width: 100%;
    margin-bottom: 0;

    .twitch_game {
        font-size: 0.9rem;

        .card_photo {
            height: 85%;
            width: 100%;
            justify-self: center;
            align-self: center;
            background-position: top center;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }
}

#youtube + section .section_accent {
    display: none;
}

#patreon + section {
    min-height: 475px;
}

@supports (-ms-ime-align: auto) {
    .library-logos {
        justify-content: space-around;
    }

    .nav-menu .nav-item:hover > .nav-menu > :first-child.nav-item::before {
        height: 0.5em;
        width: 20px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (max-width: 599px) {
    section:nth-of-type(3n) > * {
        grid-area: unset;
    }

    .card_container {
        display: none;
    }
}

@media (min-width: 600px) {
    section {
        &:nth-of-type(3n-2) {
            display: grid;
            grid-template: "title accent" auto "text accent" 1fr "tag accent" auto / minmax(0, 3fr) 1fr;
            justify-content: unset;
            align-content: unset;

            .section_title {
                justify-self: end;
                margin-left: 0;
                margin-right: 1.5em;
            }
        }

        &:nth-of-type(3n-1) {

            .section_title {
                width: 75%;
            }

            .section_text {
                width: 90%;
                margin: auto;

                p {
                    text-align: center;
                }
            }
        }

        &:nth-of-type(3n) {
            grid-template: "accent title" auto "accent text" 1fr "accent tag" auto / 1fr minmax(0, 3fr);

            .section_title {
                justify-self: start;
                margin-left: 1.5em;
            }
        }
    }

    .section_title {
        font-size: 2.3em;
    }

    .section_accent {
        height: 100%;
        width: 100%;
        background-position: top left;
        background-size: contain;
    }
    
    .library-logo {
        height: 85px;
    }

    .notice {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        min-height: 90px;
        width: 100%;
        font-size: 1.4rem;

        &.construction {
            transform: translate(-50%, -50%) rotate(-35deg) translateX(158px);
            min-height: unset;
            height: calc(3em + 12px);

            &::before {
                height: 3em;
                top: 3px;
                border-top-width: 3px;
                border-bottom-width: 3px;
            }
        }

        &.hiatus {
            height: 125px;
            font-size: 0.9rem;
            transform: none;
            top: unset;
            bottom: 10%;

            &::after {
                font-size: 1.5em;
            }
        }

        &.covid {
            font-size: 1.1rem;
            top: unset;
            transform: none;
            bottom: 0;

            .links {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            a {
                white-space: nowrap;
            }
        }
    }

    #youtube + section .section_accent {
        display: inline;
    }
}

@media (min-width: 935px) {
    .library-logos .break {
        display: none;
    }

    .library-logo {
        height: 100px;
    }
}

@media(max-width: 1099px) {
    .card_container .card:nth-child(2n+1):last-child {
        grid-column: 1 / span 2;
        width: 50%;
    }
}

@media (min-width: 1100px) {
    section:nth-of-type(3n-2) {

        .section_title {
            margin-right: 5em;
        }

        .section_text {
            justify-self: end;
        }
    }

    section:nth-of-type(3n-1) .section_text {
        width: 65%;
    }

    section:nth-of-type(3n) {

        .section_accent {
            background-position-x: center;
        }

        .section_title {
            margin-left: 5em;
        }
    }

    .section_accent {
        min-height: 240px;
    }

    .section_text {
        width: 80%;
    }

    .twitch_games {
        width: 75%;
        justify-content: space-evenly;
        grid-template-columns: auto;

        .twitch_game .card_photo {
            height: 250px;
            width: 205px;
            margin-top: 15px;
        }
    }

    .notice {

        &.construction {
            transform: translate(-30%, -50%) rotate(-35deg);
        }

        &.hiatus {
            bottom: 25%;
        }

        &.covid {
            bottom: 20%;

            .links {
                grid-gap: 2em;
            }
        }
    }
}
