.card_container.team {
    grid-template: "." auto / auto;
    grid-auto-flow: row;

    .card.team-member {
        grid-template: 
            "photo title" 50px
            "photo position" 100px
            "photo bio" 3fr
            / minmax(0px, 2fr) minmax(0px, 5fr);
        width: 100%;

        .card_photo {
            position: relative;
            height: 200px;
            width: 200px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
}