@import '../_colours';
@import '../_typography';

.card_container.team {
    grid-template: "." auto / auto;
    grid-auto-flow: row;
    grid-gap: 3.3em;
    margin-top: 0;

    .card {
        width: 100%;
        background-color: #FFF;
        //box-shadow: 0 0 5px 2px $PrimaryBackground, 0 0 10px 5px $SoftBlack;
        /*========================================================================
         * thanks to https://css-tricks.com/almanac/properties/b/box-shadow/
         * ======================================================================*/
        position: relative;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        border-radius: 160px;

        &:before, &:after {
            content: "";
            position: absolute;
            z-index: -1;
            -webkit-box-shadow: 0 0 20px rgba($PrimaryBackground, 0.8);
            -moz-box-shadow: 0 0 20px rgba($PrimaryBackground, 0.8);
            box-shadow: 0 0 20px rgba($PrimaryBackground, 0.8);
            top: 50%;
            bottom: 0;
            -moz-border-radius: 160px / 100px;
            border-radius: 160px / 100px;
            left: 40px;
            right: 40px;
        }

        &:after {
            right: 10px;
            left: auto;
            -webkit-transform: skew(8deg) rotate(3deg);
            -moz-transform: skew(8deg) rotate(3deg);
            -ms-transform: skew(8deg) rotate(3deg);
            -o-transform: skew(8deg) rotate(3deg);
            transform: skew(8deg) rotate(3deg);
        }

        &.team-member {
            grid-template: "photo" minmax(0px, auto) "title" minmax(0px, auto) "position" minmax(0px, auto) "bio" minmax(0px, auto) / minmax(0px, 1fr);
            /*&:nth-child(1) {
                border-radius: 160px;

                &:before {
                    -moz-border-radius: 160px / 100px;
                    border-radius: 160px / 100px;
                    left: 40px;
                    right: 40px;
                }
            }*/

            /*&:nth-child(2) {
                border-radius: 49px;

                &:before {
                    -moz-border-radius: 75px / 10px;
                    border-radius: 75px / 10px;
                    left: 25px;
                    right: 25px;
                }
            }*/

            /*&:nth-child(3) {
                //border-radius: 0;

                &:before {
                    -moz-border-radius: 100px / 10px;
                    border-radius: 100px / 10px;
                    left: 10px;
                    right: 10px;
                }
            }*/

            .bio {
                padding-bottom: 4em;
            }
        }

        &.open_position {
            grid-template: "position" minmax(0px, auto) "bio" minmax(0px, auto) / minmax(0px, 1fr);
            align-items: center;
            justify-items: center;

            .team_position {
                width: 75%;
                margin-top: 50px;
            }

            .bio {
                padding-bottom: 1.5em;
            }
        }

        .card_title {
            font-family: $TitleFont;
            color: $PrimaryBackground;
            font-size: 2rem;
        }

        .team_position {
            color: $SoftBlack;
            align-self: center;
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;
            padding: 1em;
        }

        .card_photo {
            position: relative;
            height: 200px;
            width: 200px;
            justify-self: center;
            align-self: center;
            border-radius: 50%;
            box-shadow: 0 0 5px 2px $TertiaryBackground, 0 0 10px 5px $BackdropColour;
            margin: 1em;
            overflow: hidden;

            .material-icons {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -44%);
                font-size: 17rem;
            }
        }

        .bio {
            grid-area: bio;
            padding: 1em 1em;
            color: $SoftBlack;
            text-align-last: center;

            p {
                text-align: justify;
            }
        }
    }
}

@media (min-width: 700px) {
    .card_container.team {

        .card {

            &.team-member {
                grid-template: "photo title" minmax(50px, auto) "photo position" minmax(50px, auto) "bio bio" minmax(150px, 3fr) / minmax(275px, 2fr) minmax(0px, 5fr);

                .card_title {
                    margin-top: 50px;
                }

                .bio {
                    padding: 0 50px 1.5em;
                }

                .team_position {
                    align-self: start;
                    padding-right: 50px;
                    padding-left: 0;
                }
            }

            &.open_position {

                .bio {
                    padding: 0 50px 1.5em;
                }
            }

            .card_photo {
                margin: 50px 25px 25px 50px;
            }

            .card_title {
                justify-self: start;
                align-self: end;
                font-size: 3rem;
                padding: 0px;
                padding-right: 50px;
                width: 100%;
            }

            .team_position {
                margin-bottom: 0.75em;
                width: 100%;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

@media (min-width: 1100px) {
    .card_container.team {

        .card {

            &.team-member {
                grid-template: "photo title" minmax(50px, auto) "photo position" minmax(50px, auto) "photo bio" minmax(150px, 3fr) / minmax(375px, 2fr) minmax(0px, 5fr);

                .bio {
                    padding-left: 0;
                    text-align-last: auto;
                }

                .team_position {
                    text-align: left;
                }
            }

            .team_position {
                padding-left: 0;
            }

            .card_photo {
                height: 300px;
                width: 300px;
                margin: 3em;
                justify-self: center;

                .material-icons {
                    font-size: 24rem;
                }
            }

            .card_title {
                text-align: left;
                margin-bottom: 0;
            }
        }
    }
}