@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<button>
</button>
<div class="modal">
    <div class="content">

    </div>
</div>

<environment include="Development">
    <script type="text/javascript" src="~/js/Games/Solitaire/card-deck.js"></script>
</environment>
<environment include="Production">
    <script type="text/javascript" src="~/js/Games/Solitaire/card-deck.min.js" asp-append-version="true"></script>
</environment>