<div class="playing-card">
    <div class="display">
        <div class="front">
            <div class="top">
                <div class="value"></div>
                <div class="suit"></div>
            </div>
            <div class="center"></div>
            <div class="bottom">
                <div class="value"></div>
                <div class="suit"></div>
            </div>
        </div>
        <div class="back"></div>
    </div>
    <div class="handle"></div>
</div>