@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ChapelStudiosWWW.Pages.Games.SolitaireModel


<div id="DrawPile">
    <div class="playing-card empty handle"></div>
</div>
<div id="Hands">
    <div class="hand base">
        <div class="playing-card empty handle"></div>
    </div>
</div>


<template id="RunTemplate">
    <div class="run"></div>
</template>
<template id="StackTemplate">
    <div class="stack"></div>
</template>


<environment include="Development">
    <script type="text/javascript" src="~/js/Games/Solitaire/klondikeMoves.js"></script>
    <script type="text/javascript" src="~/js/Games/Solitaire/klondike.js"></script>
</environment>
<environment include="Production">
    <script type="text/javascript" src="~/js/Games/Solitaire/klondikeMoves.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Games/Solitaire/klondike.min.js" asp-append-version="true"></script>
</environment>

<script type="text/javascript">
    var Board;
    document.addEventListener("DOMContentLoaded", function () {

        const gameOptions = {
            cardBack: "@Model.ActiveCardBackClassName"
            , drawCount: 3
        }

        Board = new KlondikeGameBoard(gameOptions);
        const ImageSelector = new CardBackSelector(gameOptions.cardBack, Board.UpdateCardBack);

        //Board.Moves.__cheatmode__ = true;

        //Board.DealCards();

    });
</script>