@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div id="DrawPile">
    <div class="playing-card empty handle"></div>
    <div class="drawpile-handle"></div>
</div>
<div id="Hands">
    <div class="hand base">
        <div class="playing-card empty handle"></div>
    </div>
</div>
@foreach (string suit in new string[] { "Hearts", "Diamonds", "Clubs", "Spades" })
{
    <div class="run" style="grid-area: @suit" id="@suit">
        <partial name="_EmptyCardTemplate" model="new ChapelStudiosWWW.Areas.Games.Models.CreateSolitaireSectionOptionsSet(true, suit)"/>
    </div>
}
@for (int x = 1; x < 8; x++)
{
    <div class="stack" style="grid-area: @($"Stack{x}") " id="@($"Stack{x}")">
        <partial name="_EmptyCardTemplate" model="new ChapelStudiosWWW.Areas.Games.Models.CreateSolitaireSectionOptionsSet(false)"/>
    </div>
}

<environment include="Development">
    <script type="text/javascript" src="~/js/Games/Solitaire/klondikeMoves.js"></script>
    <script type="text/javascript" src="~/js/Games/Solitaire/klondike.js"></script>
</environment>
<environment include="Production">
    <script type="text/javascript" src="~/js/Games/Solitaire/klondikeMoves.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Games/Solitaire/klondike.min.js" asp-append-version="true"></script>
</environment>

<script type="text/javascript">
    var Board;
    document.addEventListener("DOMContentLoaded", function () {

        const gameOptions = {
            cardBack: "peak"
            , drawCount: 3
            , ...CSTools.StorageAssistant.LoadOptions(["cardBack", "drawCount"])
        }

        Board = new KlondikeGameBoard(gameOptions);
        const ImageSelector = new CardBackSelector(gameOptions.cardBack, Board.UpdateCardBack);

        //Board.Moves.__cheatmode__ = true;

        //Board.DealCards();

    });
</script>