@page   "/Games/{Style}"
@model ChapelStudiosWWW.Pages.Games.SolitaireModel
@{
    ViewData["Title"] = $"{Model.Style} Solitaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@section Head {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/Games/Solitaire.css">
    </environment>
    <environment include="Production">
        <link rel="stylesheet" type="text/css" href="~/css/Games/Solitaire.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/Games/Solitaire/card-deck.js"></script>
        <script type="text/javascript" src="~/js/Games/Solitaire/solitaireMoves.js"></script>
    </environment>
    <environment include="Production">
        <script type="text/javascript" src="~/js/Games/Solitaire/card-deck.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/Games/Solitaire/solitaireMoves.min.js" asp-append-version="true"></script>
    </environment>
}

<template id="CardTemplate">
    <div class="playing-card back">
        <div class="display">
            <div class="top">
                <div class="value"></div>
                <div class="suit"></div>
            </div>
            <div class="center"></div>
            <div class="bottom">
                <div class="value"></div>
                <div class="suit"></div>
            </div>
        </div>
        <div class="handle"></div>
    </div>
</template>
<template id="SuitImageTemplate">
    <div class="suit"></div>
</template>
<template id="EmptyCard">
    <div class="playing-card empty handle" card-value=0 suit="none">
        <div><div class="center"></div></div>
        <div class="handle"></div>
    </div>
</template>
<template id=HandTemplate>
    <div class="hand"></div>
</template>

<div class="banner">
    <h1>Solitaire</h1>
    <p>Classic Klondike Solitaire, no adds, no hints, just you and a deck of cards.</p>
</div>

<div id="Gameboard">
    <div id="DragBox"></div>
    <div class="menu">
        <div class="btn" id="Reset">Reset</div>
        <div class="btn" id="Undo">Undo</div>
        <partial name="_CardDeck" />
    </div>
    <div id="Playfield">
        <div id="WinScreen" hidden>
            <div class="fireworksA"></div>
            <div class="fireworksB"></div>
            <div class="text">Congrats on winning!</div>
        </div>
        @Html.Partial($"_{Model.Style}Board")
    </div>
</div>
