<section class="section_one">
    <img src="~/Assets/Images/Icons/ControllerIcon.png" alt="" class="section_accent">
    <h1 class="section_title">Game Design</h1>
    <div class="section_text">
        <p>Chapel Studios was founded on a dream of designing engaging games with interactive plots. By allowing players to choose how and where they interact with our games we create environments that feel immersive and personal. </p>
        <a href="" class="section_tag">Click Here to Learn More</a>
    </div>
</section>
<section class="section_two">
    <h1 class="section_title">Web Design</h1>
    <div class="section_text">
        <p>Chapel Studios' first project was a site for a gaming cafe back in 1999. Since then we have continued to stay in the industry in working on the cutting edge.</p>
        <ul>
            <li><img src="~/Assets/Images/Home/microsoft-sql-server.svg" alt="SQL" class="library-logo"></li>
            <li><img src="~/Assets/Images/Home/c--4.svg" alt="C# 8" class="library-logo"></li>
            <li><img src="~/Assets/Images/Home/microsoft-net.svg" alt=".Net Framework" class="library-logo"></li>
            <li>
                <a href="http://www.w3.org/html/logo/">
                    <img class="library-logo" src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" alt="HTML5 Powered" title="HTML5 Powered">
                </a>
            </li>
            <li><img src="~/Assets/Images/Home/css3.svg" alt="CSS 3" class="library-logo"></li>
            <li><img src="~/Assets/Images/Home/logo-javascript.svg" alt="JS" class="library-logo"></li>
            <!-- @* <li><img src="~/Assets/Images/Home/jquery-2.svg" alt="jQuery" class="library-logo"></li>*@ -->
            <li><img src="~/Assets/Images/Home/vue-js-1.svg" alt="Vue.js" class="library-logo"></li>
        </ul>
        <a href="https://github.com/Chapel-Studios/ChapelStudiosWWW" class="section_tag">Click Here to See How I Built This Site</a> or
        <a href="" class="section_tag">Contact Us for More Information</a>
    </div>
</section>
<section class="section_three">
    <div class="warning construction">Under Construction</div>
    <h1 class="section_title">Home Software</h1>
    <div class="section_text">
        <p>Our <i>Infinity Budgetor</i> program is designed to help those on limited budgets manage their resources through an automated scheduling system that monitors both incoming and outgoing transactions.</p>
        <a href="https://github.com/Chapel-Studios/InfinityBudgetor" class="section_tag">Visit the <i>Infinity Budgetor</i> Project on Github</a>
    </div>
</section>
<section class="section_four">
    <img src="~/Assets/Images/Icons/WorldBuildingIcon.png" alt="" class="section_accent">
    <h1 class="section_title">World Building</h1>
    <div class="section_text">
        <p>Immersion is more than slick gameplay and interactivity, it's about well-built worlds.</p>
        <p>At Chapel Studios we strive to build in-depth history into all aspects of our content, from environmental aspects to the characters you interact with along your journeys.</p>
    </div>
</section>
<section class="section_five">
    <div class="warning hiatus">Currently On Hiatus</div>
    <h1 class="section_title">Twitch Gaming</h1>
    <div class="section_text">
        <p>In our downtime you can normally catch us streaming on <a href="https://www.twitch.tv/rev_jake">Twitch.tv</a> in the evenings or catch up in our archives if you've missed us.</p>
        <div class="card_container twitch_games">
            <div class="card twitch_game">
                <img src="" alt="" class="card_photo">
                <h1 class="card_title">Assassin's Creed</h1>
                <p class="card_description">Edge of your seat tension as you stalk your prey all while avoiding the cold steel of those who would kill you. Come watch and suggest interesting kill combos!</p>
            </div>
            <div class="card twitch_game">
                <img src="" alt="" class="card_photo">
                <h1 class="card_title">Mortal Kombat X</h1>
                <p class="card_description">Jake was amazing on the SEGA back in the day, does that carry over half a life time later? Ass-whoopings are abound either way!</p>
            </div>
            <div class="card twitch_game">
                <img src="" alt="" class="card_photo">
                <h1 class="card_title">Heroes of the Storm</h1>
                <p class="card_description">The Lost Vikings gameplay! Three heroes in one! Come watch Jake tab through vikings with confusing fury while carrying games, ya-sure-you-betcha!</p>
            </div>
        </div>
    </div>
</section>
<section class="section_six">
    <div class="warning hiatus">Currently On Hiatus</div>
    <h1 class="section_title">YouTube</h1>
    <div class="section_text">
        <p>Come in and catch a video on movie or gaming news and stay for one of Rev's Rants!</p>
    </div>
</section>
<section class="section_seven">
    <div class="warning banner">
        <p>Please consider donating to a charity that is helping fight COVID-19 right now instead.</p>
        <ul>
            <li><a href="https://www.feedingamerica.org/">Feeding America</a></li>
            <li><a href="https://www.nokidhungry.org/coronavirus">No Kid Hungry</a></li>
            <li><a href="https://www.charitynavigator.org/index.cfm?bay=content.view&cpid=7779">Charity Navigator: COVID-19</a></li>
        </ul>
    </div>
    <h1 class="section_title">Patreon</h1>
    <div class="section_text">
        <p>Just want to make a donation to the chapel? Feel free though there are no bonuses for doing so currently.</p>
        <p class="legalese">*Donating to the Chapel Studios Patreon may or may not save your soul, as these things are probably not related.</p>
    </div>
</section>