@page "/MeetTheTeam"
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" href="~/css/Home/team.css" asp-append-version="true" />
}

<div class="banner">
    <h1 class="banner-text">Come Meet Our Team</h1>
</div>


<div class="card_container team">
    <div class="card team-member">
        <div class="card_photo" style="
            background-image: url('/Assets/Images/Home/jake_profile.jpg');
            background-size: 100%;
            background-position-x: 0px;
            "></div>
        <h1 class="card_title">Jake Blackwell</h1>
        <h2 class="team_position">One man, 99% of the hats:<br />CEO / Creative Lead / Engineer / Developer</h2>
        <div class="bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec libero at neque laoreet lobortis sed mollis felis. Proin at posuere tortor, at scelerisque augue. Quisque egestas nibh non nisl dignissim, eget pretium tortor vestibulum. Vestibulum eget augue imperdiet, ullamcorper nunc quis, mollis magna. Etiam pulvinar faucibus augue, sed vehicula elit. Morbi ullamcorper commodo vehicula.</p>
            <p>Maecenas a iaculis elit. Duis vestibulum, ipsum quis tempus eleifend, tortor lorem aliquam ex, a scelerisque urna metus vitae ex. Duis magna purus, finibus luctus gravida vitae, varius sit amet mauris. Curabitur dictum tellus quis ligula auctor, quis condimentum velit ornare. Suspendisse ac pharetra felis. Donec imperdiet arcu leo, in maximus felis congue nec.</p>
        </div>
    </div>
    <div class="card team-member">
        <div class="card_photo" style="
            background-image: url('/Assets/Images/Home/jake_profile.jpg');
            background-size: 100%;
            background-position-x: 0px;
            "></div>
        <h1 class="card_title">Austin Laske</h1>
        <h2 class="team_position">Creative Talent / Gameplay Design / QA</h2>
        <div class="bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec libero at neque laoreet lobortis sed mollis felis. Proin at posuere tortor, at scelerisque augue. Quisque egestas nibh non nisl dignissim, eget pretium tortor vestibulum. Vestibulum eget augue imperdiet, ullamcorper nunc quis, mollis magna. Etiam pulvinar faucibus augue, sed vehicula elit. Morbi ullamcorper commodo vehicula.</p>
            <p>Maecenas a iaculis elit. Duis vestibulum, ipsum quis tempus eleifend, tortor lorem aliquam ex, a scelerisque urna metus vitae ex. Duis magna purus, finibus luctus gravida vitae, varius sit amet mauris. Curabitur dictum tellus quis ligula auctor, quis condimentum velit ornare. Suspendisse ac pharetra felis. Donec imperdiet arcu leo, in maximus felis congue nec.</p>
        </div>
    </div>
    <div class="card team-member">
        <div class="card_photo" style="
            background-image: url('/Assets/Images/Home/jake_profile.jpg');
            background-size: 100%;
            background-position-x: 0px;
            "></div>
        <h1 class="card_title">Jennifer Mancuso</h1>
        <h2 class="team_position">Photography / QA</h2>
        <div class="bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec libero at neque laoreet lobortis sed mollis felis. Proin at posuere tortor, at scelerisque augue. Quisque egestas nibh non nisl dignissim, eget pretium tortor vestibulum. Vestibulum eget augue imperdiet, ullamcorper nunc quis, mollis magna. Etiam pulvinar faucibus augue, sed vehicula elit. Morbi ullamcorper commodo vehicula.</p>
            <p>Maecenas a iaculis elit. Duis vestibulum, ipsum quis tempus eleifend, tortor lorem aliquam ex, a scelerisque urna metus vitae ex. Duis magna purus, finibus luctus gravida vitae, varius sit amet mauris. Curabitur dictum tellus quis ligula auctor, quis condimentum velit ornare. Suspendisse ac pharetra felis. Donec imperdiet arcu leo, in maximus felis congue nec.</p>
        </div>
    </div>
    <h1 class="header">Open Positions</h1>
    <div class="card open_position">
        <h2 class="team_position">UI / UX Designer</h2>
        <div class="bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec libero at neque laoreet lobortis sed mollis felis. Proin at posuere tortor, at scelerisque augue. Quisque egestas nibh non nisl dignissim, eget pretium tortor vestibulum. Vestibulum eget augue imperdiet, ullamcorper nunc quis, mollis magna. Etiam pulvinar faucibus augue, sed vehicula elit. Morbi ullamcorper commodo vehicula.</p>
            <p>Maecenas a iaculis elit. Duis vestibulum, ipsum quis tempus eleifend, tortor lorem aliquam ex, a scelerisque urna metus vitae ex. Duis magna purus, finibus luctus gravida vitae, varius sit amet mauris. Curabitur dictum tellus quis ligula auctor, quis condimentum velit ornare. Suspendisse ac pharetra felis. Donec imperdiet arcu leo, in maximus felis congue nec.</p>
        </div>
        <a class="btn" asp-page="Contact" asp-route-category="Application" asp-route-job="UI/UX Designer">Apply Now</a>
    </div>
    <div class="card open_position">
        <h2 class="team_position">Advertising Copy Writer / Marketing Specialist</h2>
        <div class="bio">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec libero at neque laoreet lobortis sed mollis felis. Proin at posuere tortor, at scelerisque augue. Quisque egestas nibh non nisl dignissim, eget pretium tortor vestibulum. Vestibulum eget augue imperdiet, ullamcorper nunc quis, mollis magna. Etiam pulvinar faucibus augue, sed vehicula elit. Morbi ullamcorper commodo vehicula.</p>
            <p>Maecenas a iaculis elit. Duis vestibulum, ipsum quis tempus eleifend, tortor lorem aliquam ex, a scelerisque urna metus vitae ex. Duis magna purus, finibus luctus gravida vitae, varius sit amet mauris. Curabitur dictum tellus quis ligula auctor, quis condimentum velit ornare. Suspendisse ac pharetra felis. Donec imperdiet arcu leo, in maximus felis congue nec.</p>
        </div>
        <a class="btn" asp-page="Contact" asp-route-category="Application" asp-route-job="Marketing Specialist">Apply Now</a>
    </div>
</div>

