//Text
$MainTextColour: #AAAAC4; // Silver ?  Lavender?
$HighlightTextColour: rgba(255, 255, 255, 0.65); // grey

// Background
$BackdropColour: #AAAAC4; // Silver ?  Lavender?
$PrimaryBackground: #552244; // Maroon
$SecondaryBackground: #696d69; // Olive
$TertiaryBackground: #526760; // Forrest
$HighlightBackground: #696d69; // light blue

$LinkColour: #696d69; // light blue
$HighlightLink: #552244; // Maroon

/*$PrimaryColour: #552244; // Maroon
$HighlightColour: #696d69; // Olive
$HighlightColour-2: #696d69; // light blue
$ForegroundColour: #AAAAC4; // Silver
$SecondaryColour: #526760; // Forrest*/
