@import '_colours';
@import '_typography';
@import '_DataVariables';

nav {
    background-color: $PrimaryBackground;
    height: 75px;

    .container {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        height: 100%;
        background: none;
        padding: 0;
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.navbar-collapse {
    position: absolute;
    left: 0;
    top: 100%;
    height: 100vh;
    width: 100%;
    display: none;
    background: rgba(4,4,4,0.6);
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
}

.navbar-toggler {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    align-content: center;
    align-items: center;

    span {
        display: inline-block;
        width: 100%;
        height: 4px;
        position: relative;
        border-radius: 5px;
        background: $MainTextColour;

        &::before, &::after {
            content: '';
            position: absolute;
            top: -10px;
            left: 0px;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background: $MainTextColour;
        }

        &::after {
            top: 10px;
        }
    }
}

#navbar-checkbox {
    display: none;

    &:checked + .navbar-collapse {
        display: flex;
    }
}

.nav-main {
    width: 50vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;

    & > .nav-item {
        margin: 10px 5px;
        border: none;

        & > a {
            padding: 8px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 7%;
                left: 50%;
                width: 0%;
                height: 4px;
                background-color: $MainTextColour;
                border-radius: 17px;
                transition: width ease 500ms, left ease 500ms;
            }
        }

        &:hover > a::before {
            left: 15%;
            width: 70%;
        }
    }
}

.nav-menu {
    flex-direction: column;
    font-size: 1.2rem;
    text-transform: capitalize;
    position: absolute;
    top: 100%;
    //border: 2px solid $HighlightColour-2;
    perspective: 1000px;

    .nav-item {
        display: none;
        background-color: $SecondaryBackground;

        &:hover {

            & > .nav-menu > .nav-item {
                transform-origin: left center;

                @for $i from 1 through $MaxNavItemCount {
                    &:nth-child(#{$i}) {
                        transform-origin: (10% * ($i - 1)) center;
                        animation-name: menuItems_right;
                        animation-duration: 350ms - (($i - 1) * 10);
                        animation-delay: (75ms * ($i + 1)) - 75;
                        animation-timing-function: ease-in;
                        animation-fill-mode: forwards;
                    }
                }

                &:first-child::before {
                    content: '';
                    position: absolute;
                    background-color: #526760;
                    height: 100%;
                    width: 25px;
                    top: 0;
                    left: -4%;
                    clip-path: polygon(0% -5%, 25% -5%, 50% 50%, 25% 105%, 0% 105%);
                }
            }
        }
    }

    .nav-menu {
        top: 0%;
        left: 101%;
    }
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-bottom: 2px solid $TertiaryBackground;
    white-space: nowrap;

    &:hover {

        & > a {
            animation: popOut 300ms ease-out forwards;
        }

        & > .nav-menu > .nav-item {
            display: flex;
            opacity: 0;

            @for $i from 1 through $MaxNavItemCount {
                &:nth-child(#{$i}) {
                    animation-name: menuItems;
                    animation-duration: 400ms - (($i - 1) * 10);
                    animation-delay: (75ms * ($i + 1)) - 75;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    &:last-of-type {
        border-bottom: none;
    }

    a {
        padding: 5px 17px;
        color: $MainTextColour;
        font-family: $StandardFont;
    }
}

.login {
    position: initial;
    margin-top: 1vh;

    .nav-item {
        display: inline-flex;
        background: none;
    }
}

@media (min-width: 600px) {
    nav {
        height: 125px;

        & .container {
            flex-direction: row;
        }
    }

    .navbar-collapse {
        display: flex;
        position: initial;
        background: none;
        height: initial;
        left: unset;
        top: unset;
        justify-content: flex-end;
        flex-direction: initial;
    }

    .navbar-toggler {
        display: none;
    }

}

@keyframes menuItems {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes menuItems_right {
    0% {
        opacity: 0;
        transform: scale(0) translateY(-30%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes popOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}
