@import '_DataVariables';
@import '_colours';
@import '_typography';

@import "_nav";

body, html, ul, button, section, h1, p {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: $BackdropColour;
    font-size: 17px;
    font-family: $StandardFont;
    color: $MainTextColour;

    &.lock-scroll {
        overflow-y: scroll;
        position: fixed;
        width: 100%;
    }
}

.container {
    width: 100%;
    //background-color: #FFF;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    -webkit-box-shadow: 0px 2px 12px -4px rgba(255,255,255,0.55);
    -moz-box-shadow: 0px 2px 12px -4px rgba(255,255,255,0.55);
    box-shadow: 0px 2px 12px -4px rgba(255,255,255,0.55);
}

main {
    display: grid;
    grid-auto-rows: minmax(38vh, auto);
}

section {
    min-height: 300px;
    padding: 4vh 3vw;
    position: relative;
    overflow: hidden;

    p {
        margin-top: 0.7em;
        margin-bottom: 0.8em;
        text-align: justify;
    }

    a {

        &:active {
            text-decoration: underline;
        }
    }
}

ul {
    list-style: none;
}

p {

    &.legalese {
        font-size: 0.68em;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
    }
}

a {
    text-decoration: none;
    color: $LinkColour;

    &:hover {
        text-decoration: underline;
    }
}

.brand {
    position: relative;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: $TitleFont;
    color: $MainTextColour;
    padding: 9px 0px;
    height: 3em;
    width: 100%;
    box-sizing: border-box;
    margin-right: 50px;
    z-index: 2;

    &::before {
        content: '';
        background: url(/assets/images/icons/smalllogo.jpg) no-repeat left / contain;
        height: 100%;
        width: 100%;
        display: block;
    }

    &::after {
        content: 'Chapel Studios';
        top: 50%;
        left: 2em;
        position: absolute;
        transform: translateY(-50%);
    }
}

.btn {
    margin-top: 10px;
    font-family: $TitleFont;
    color: $HighlightLink;
    Background: $HighlightBackground;
    border-radius: 25px;
    padding: 5px 10px;
    position: relative;
    transition: top ease .4s;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    &:hover {
        top: 3px;

        &::before {
            background-color: rgba(44,44,44, 0.2);
        }
    }
}

.card_container {
    width: 90%;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: stretch;
    justify-items: center;
    margin: 3vh auto;

    .header {
    }

    .card {
        width: 100%;
        display: grid;
        grid-template: 
            "photo title" minmax(30px, max-content) 
            "photo desc" minmax(120px, auto) 
            / minmax(50px, 3fr) minmax(0px, 4fr);
        font-size: 1.2rem;
        background: $BackdropColour;

        .card_photo {
            grid-area: photo;
            justify-self: stretch;
            align-self: stretch;
        }

        .card_title {
            grid-area: title;
            font-size: 1.5em;
            color: $HighlightTextColour;
            padding: 0.35em 0.85em;
            place-self: center;
            text-align: center;
        }

        .card_description {
            grid-area: desc;
            color: $MainTextColour;
            background: $PrimaryBackground;
            width: 100%;
            height: 100%;
            padding: 1.1em 1.6em;
            margin: 0;
        }
    }
}

footer {
    background: $PrimaryBackground;
    min-height: 100px;
    padding: 2vh 3vw;

    .container {
        width: 85vw;
        display: grid;
        grid-template: "brand sitemap" auto "copyright copyright" auto / minmax(0px, 1fr) 150px;
    }

    .brand {
        grid-area: brand;
    }

    .sitemap {
        grid-area: sitemap;
        justify-self: right;
        margin-right: 1em;
        text-align: end;

        a {
            color: $MainTextColour;
            line-height: 1.5em;
        }

        button {
            background: none !important;
            border: none;
            padding: 0 !important;
            cursor: pointer;
            color: $MainTextColour;
            line-height: 1.5em;
            font-family: $StandardFont;
            font-size: 1rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .copyright {
        grid-area: copyright;
        margin-top: 2em;
        padding: 0 5%;
        font-size: 0.75rem;
        justify-self: center;
    }
}

@media (max-height: 450px) {
    header {
        position: relative;
    }
}

@media (max-width: 599px) {
    .card_container {
        display: none;
    }
}

@media (min-width: 600px) {
    .container {
        width: auto;
        max-width: 85vw;
    }

    section {
        padding: 14vh 3vw;
    }

    .brand {
        width: calc(4.5em + 250px);
        font-size: 2.2rem;

        &::after {
            left: 2.5em;
        }
    }

    footer .sitemap {
        margin-right: 0;
    }
}

@media (min-width: 1100px) {
    .container { 
        max-width: 80vw;
    }

    .card_container {
        grid-auto-flow: column;

        .card {
            width: 250px;
            grid-template: 
                "photo" minmax(100px, max-content) 
                "title" minmax(50px, max-content) 
                "desc" minmax(150px, auto) 
                / minmax(0px, 1fr);

            .card_photo {
                height: 300px;
            }
        }
    }
}
