@import '_DataVariables';
@import '_colours';
@import '_typography';

@import "_nav";

body, html, ul, button, section, h1, h2, p {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body, div {
    box-sizing: border-box;
}

html {
    height: 100%;

    &.scroll-lock {
        overflow: auto;

        body {
            overflow: auto;
        }
    }
}

body {
    background-color: $BackdropColour;
    font-size: 17px;
    font-family: $StandardFont;
    color: $MainTextColour;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 75px;
}

[hidden] {
    display: none !important;
}

h1, h2 {
    margin: 0.5em 0;
}

h1, h2, h3 {
    color: $PrimaryBackground;
}

.content {
    flex: 1 0 auto;
}

.container {
    width: 100%;
    //background-color: #FFF;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 12px -4px rgba(255,255,255,0.55);
    -moz-box-shadow: 0px 2px 12px -4px rgba(255,255,255,0.55);
    box-shadow: 0px 2px 12px -4px rgba(255,255,255,0.55);
}

main {
    display: grid;
    padding: 4vh 0;
    grid-template: 
        "banner" auto 
        "." 1fr 
        / minmax(0px, auto);
    position: relative;
}

section {
    min-height: 300px;
    padding: 4vh 3vw;
    position: relative;
    overflow: hidden;

    p {
        margin-top: 0.7em;
        margin-bottom: 0.8em;
        text-align: justify;
    }

    a {

        &:active {
            text-decoration: underline;
        }
    }
}

ul {
    list-style: none;
}

p {
    margin-bottom: 1em;
    color: $HeaderTextColour;

    &.legalese {
        font-size: 0.68em;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
    }
}

a {
    text-decoration: none;
    color: $HighlightLink;

    &:hover {
        text-decoration: underline;
    }

    &.anchor {
        display: none;
        position: relative;
        top: 0px;
        visibility: hidden;
    }
}

.brand {
    position: relative;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: $TitleFont;
    color: $MainTextColour;
    padding: 9px 0px;
    height: 3em;
    width: 100%;
    box-sizing: border-box;
    margin-right: 50px;
    z-index: 2;

    &::before {
        content: '';
        background: url(/assets/images/icons/smalllogo.jpg) no-repeat left / contain;
        height: 100%;
        width: 100%;
        display: block;
    }

    &::after {
        content: 'Chapel Studios';
        top: 50%;
        left: 2em;
        position: absolute;
        transform: translateY(-50%);
    }
}

.row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    grid-gap: 1em;
    padding: 0 1em;
}

.col {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
    justify-content: center;
    align-items: safe center;
}

label.checkbox {
    display: flex;
    cursor: pointer;
    font-family: $TitleFont;
    color: $HighlightBackground;
    font-size: 1rem;
    Background: $HighlightLink;
    position: relative;
    padding: 0.5em 3.5em 0.5em 1em;
    height: 1.5em;
    line-height: 1.5em;
    border: solid 1px $SoftBlack;
    border-radius: 25px;

    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }

    .check {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2.5em;
        border-left: solid 1px $SoftBlack;
        border-radius: 0 25px 25px 0;
        background-color: $MainTextColour;

        &::after {
            content: "";
            position: absolute;
            top: 40%;
            left: 45%;
            width: 0.65em;
            height: 1.5em;
            border: solid $SoftBlack;
            border-width: 0;
            transform: translate(-50%, -50%) rotateZ(45deg) scale(0);
        }
    }

    input:checked + span::after {
        border-width: 0 0.25em 0.25em 0;
        transform: translate(-50%, -50%) rotateZ(45deg) scale(1);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    &:not(.inactive):hover {
        top: 2px;
        text-decoration: none;

        &::before {
            background-color: rgba(44,44,44, 0.2);
        }
    }
}

label.labeled-text {
    display: flex;
    font-family: $TitleFont;
    font-size: 1rem;
    position: relative;
    border-radius: 25px;
    border: solid 1px $SoftBlack;
    white-space: nowrap;

    .label, .text {
        min-width: 2.5em;
        padding: 0.5em 1em;
    }

    .label {
        background-color: $HighlightLink;
        border-radius: 25px 0 0 25px;
        color: $HighlightBackground;
    }

    .text {
        border-left: solid 1px $SoftBlack;
        border-radius: 0 25px 25px 0;
        background-color: $MainTextColour;
        color: $SoftBlack;
    }
}

.btn {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: $TitleFont;
    border: solid 1px $MainTextColour;
    border-radius: 25px;
    padding: 0.5em 1em;
    position: relative;
    transition: top ease .1s;
    cursor: pointer;
    color: $HighlightBackground;
    Background: $HighlightLink;

    &.inverted {
        color: $HighlightLink;
        Background: $HighlightBackground;
    }

    &.inactive::before {
        background-color: rgba(44,44,44, 0.75);
        cursor: not-allowed;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    &:not(.inactive):hover {
        top: 2px;
        text-decoration: none;

        &::before {
            background-color: rgba(44,44,44, 0.2);
        }
    }
}

.banner {
    grid-area: banner;
    justify-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: minmax(0px, auto);
    align-content: end;
    font-size: 1.2rem;
    color: $HeaderTextColour;
    padding: 0 2em;
    margin-bottom: 0.75em;

    h1 {
        text-transform: uppercase;
        line-height: 1.5em;
        word-spacing: 0.5em;
        letter-spacing: 0.05em;
        color: inherit;
    }
}

.modal {
    position: fixed;
    z-index: 50;
    height: 100%;
    width: 100%;
    background: rgba(5,5,5,0.85);
    left: 0;
    top: 0;
    display: none;

    &.open {
        display: block;
    }

    .content {
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3vw 5vw;
        border: solid 2px $MainTextColour;

        .exit {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;

            &::before {
                content: "X";
                font-size: 3em;
            }
        }
    }
}

.card_container {
    width: 90%;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: stretch;
    justify-items: center;
    margin: 3vh auto;

    .header {
        color: $HeaderTextColour;
        text-transform: uppercase;
        line-height: 1.5em;
        word-spacing: 0.5em;
        letter-spacing: 0.05em;
        justify-self: center;
        text-align: center;
    }

    .card {
        width: 100%;
        display: grid;
        grid-template: 
            "photo title" minmax(30px, max-content) 
            "photo desc" minmax(120px, auto) 
            / minmax(50px, 3fr) minmax(0px, 4fr);
        font-size: 1.2rem;
        background: $BackdropColour;

        .card_photo {
            grid-area: photo;
            justify-self: stretch;
            align-self: stretch;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .card_title {
            grid-area: title;
            font-size: 1.5em;
            color: $HighlightTextColour;
            padding: 0.35em 0.85em;
            justify-self: center;
            align-self: center;
            text-align: center;
        }

        .card_description {
            grid-area: desc;
            color: $MainTextColour;
            background: $PrimaryBackground;
            width: 100%;
            height: 100%;
            padding: 1.1em 1.6em;
            margin: 0;
        }
    }
}

.to-top-btn {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.2);
    position: fixed;
    bottom: 75px;
    right: 0.5em;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    z-index: 900;
    cursor: pointer;

    &.active {
        opacity: 100;
    }

    &::before {
        content: '';
        height: 50%;
        width: 50%;
        top: 60%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%) rotate(-45deg);
        border-right: 10px solid rgba(0,0,0,0.2);
        border-top: 10px solid rgba(0,0,0,0.2);
        box-sizing: border-box;
        border-radius: 5px;
    }
}

.bind-position {
    position: relative;
}

footer {
    background: $PrimaryBackground;
    min-height: 100px;
    padding: 2vh 3vw;
    flex-shrink: 0;

    .container {
        width: 85vw;
        display: grid;
        grid-template: "brand sitemap" auto "copyright copyright" auto / minmax(0px, 1fr) 150px;
    }

    .brand {
        grid-area: brand;
    }

    .sitemap {
        grid-area: sitemap;
        justify-self: right;
        margin-right: calc(1em + 50px - 7.5vw);
        text-align: end;

        li {
            padding: 0 0.5em;
        }

        a {
            color: $MainTextColour;
            line-height: 1.5em;
        }

        button {
            background: none !important;
            border: none;
            padding: 0 !important;
            cursor: pointer;
            color: $MainTextColour;
            line-height: 1.5em;
            font-family: $StandardFont;
            font-size: 1rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .copyright {
        grid-area: copyright;
        margin-top: 2em;
        padding: 0 5%;
        font-size: 0.75rem;
        justify-self: center;
    }
}

@-moz-document url-prefix() {
    .banner h1 {
        text-align: justify;
        text-align-last: justify;
        text-justify: inter-character;
    }

    @media (mmin-width: 475px) {
        .banner h1 {
            text-transform: uppercase full-width;
        }
    }
}

@media (max-height: 450px) {
    header {
        position: relative;
    }
}

@media (min-width: 600px) {
    .container {
        width: auto;
        max-width: 85vw;
    }

    section {
        padding: 14vh 3vw;
    }

    .brand {
        width: calc(4.5em + 250px);
        font-size: 2.2rem;

        &::after {
            left: 2.5em;
        }
    }

    .to-top-btn {
        height: 60px;
        width: 60px;
        right: calc(3.25vw - 10px);
    }

    footer .sitemap {
        margin-right: 0;
    }
}

@media (min-width: 700px) {
    body { 
        padding-top: 125px;
    }

    .med-hide {
        display: none;
    }

    .med-show {
        display: block;
    }
}

@media (min-width: 800px) {
    .banner {
        font-size: 1.5rem;
        margin-bottom: 1.5em;

        h1 {
            padding: 0;

            br {
                display: none;
            }
        }
    }
}

@media (min-width: 1100px) {
    .container {
        max-width: 80vw;
    }

    .card_container {
        grid-auto-flow: column;

        .card {
            width: 250px;
            grid-template: "photo" minmax(100px, max-content) "title" minmax(50px, max-content) "desc" minmax(150px, auto) / minmax(0px, 1fr);

            .card_photo {
                height: 300px;
            }
        }
    }

    .lrg-hide {
        display: none;
    }

    .lrg-show {
        display: block;
    }
}
